<section class="container" id="descubre">
    <h2 class="seccion__titulo">Descubre la isla</h2>
      <div class="descubre">
        <div class="card">
          <div>
            <h3 class="card__subtitulo">Playas</h3>
          </div>
          <div class="card__imagen">
            <img src="assets/images/descubre-playas.jpg" alt="Playa">
            <div class="card__texto card__texto--dark remove-padding">
              <p>Tenerife es un lugar repleto de playas espectaculares, de arena negra o blanca, incluso de su famosos callao. Descubre los rincones naturales únicos que ofrece la isla y piérdete en sus calas y acatilados.</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div>
            <h3 class="card__subtitulo">Senderismo</h3>
          </div>
          <div class="card__imagen">
            <img src="assets/images/descubre-senderismo.jpg" alt="Senderismo">
            <div class="card__texto card__texto--dark remove-padding">
              <p>Si te gusta el senderismo y los que buscas son caminos llenos de naturaleza viva por explorar, no dudes en realizar cualquiera de las rutas que se encuentran alrededor de toda la isla. Disfruta del contraste y la tranquilidad, así como del ejercicio y vuelve a sentirte vivo</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div>
            <h3 class="card__subtitulo">Pueblos</h3>
          </div>
          <div class="card__imagen">
            <img src="assets/images/descubre-pueblos.jpg" alt="Pueblos">
            <div class="card__texto card__texto--dark remove-padding">
            <p>Conectar con el estilo de vida local, así como con sus costumbres y su día a día, es uno de los placeres de explorar un lugar nuevo. En Tenerife podrás sentir el calor de su gente en cualquiera de los pueblos que hay por toda la isla. </p>
            </div>
          </div>
        </div>
        <div class="card">
          <div>
            <h3 class="card__subtitulo">Fauna</h3>
          </div>
          <div class="card__imagen">
            <img src="assets/images/descubre-fauna.jpg" alt="Fauna">
            <div class="card__texto card__texto--dark remove-padding">
              <p>Tanto en la tierra, como en el mar o en el aire, una inmensa variedad de espcies autócntonas lucen sus colores cada día en Tenerife. Descubre lagartos, cetáceos, tortugas o aves que nunca antes habías visto y que no verás en ningún otro lugar.</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div>
            <h3 class="card__subtitulo">Gastronomía</h3>
          </div>
          <div class="card__imagen">
            <img src="assets/images/descubre-gastronomia.jpg" alt="Gastronomía">
            <div class="card__texto card__texto--dark remove-padding">
              <p>Prepara tu paladar para una mezcla de sabores intensos y tradicionales que componen la gastrnomía canaria y tinerfeña. No te puedes perder la experiencia de ir a un gauchinche y pedirte cualquier plato de los que ofrece este lugar.</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div>
            <h3 class="card__subtitulo">Diversión</h3>
          </div>
          <div class="card__imagen">
            <img src="assets/images/descubre-diversion.jpg" alt="Diversión">
            <div class="card__texto card__texto--dark remove-padding">
              <p>Disfruta plenamente de nuestro agradable clima realizando todo tipo de actividades al aire libre como surferar, hacer snorkeling, kayaking o parapente. La isla te ofrece infinitas posibilidades, ¿te atreves?</p>
            </div>
          </div>
        </div>
      </div>
  </section>