<footer class="footer">
  <div class="container footer__box">
    <div class="footer__logo">
      <a href="/src/index.html"><img class="footer__logo-img" src="./assets/images/logo-inverted.svg" alt="Logotipo Visita Tenerife"></a>
    </div>
    <div class="footer__links">
      <div class="footer__links-social">
        <i class="fa-brands fa-instagram link-style"></i>
        <i class="fa-brands fa-facebook link-style"></i>
        <i class="fa-brands fa-twitter link-style"></i>
        <i class="fa-brands fa-tiktok link-style"></i>
        <i class="fa-brands fa-pinterest link-style"></i>
      </div>
      <div class="footer__links-info">
        <a class="link-style--normal" href="">Privacidad</a>
        <a class="link-style--normal" href="">Cookies</a>
        <a class="link-style--normal" href="">Legal</a>
      </div>
    </div>
  </div>
</footer>