<header class="header header--white">
    <div class="container header__box">
      <div>
        <a href="/src/index.html"><img class="header__logo" src="assets/images/logo.svg" alt="Logotipo Visita Tenerife"></a>
      </div>
      <div class="nav-bar">
        <a class="nav-bar__element link-style--bold" href="#mapa">Mapa</a>
        <a class="nav-bar__element link-style--bold" href="#historia">Historia</a>
        <a class="nav-bar__element link-style--bold" href="#descubre">Descubre</a>
      </div>
    </div>
  </header>