@use "sass:color";


// TIPOGRAFÍAS
$font-family-sans-serif: -apple-system, "Segoe UI", "Helvetica Neue", arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;


// COLORES
$tnf-dark-blue: #164AB3;
$tnf-light-blue: #5EC7D1;
$tnf-bg: color.scale($tnf-light-blue, $lightness: 70%);
$tnf-overlay: color.scale($tnf-dark-blue, $alpha: -30%);


// BREAKPOINTS
$mq-phone: 420px;
$mq-tablet: 768px;
$mq-pc: 1920px;
$mq-pc-max: 1536px;